.news {
    margin-bottom: 4rem;
    &:nth-child(3n+1) {
        clear: left;
    }
}

.newslist__filterbycategory {
	.select2-input {
		height: 100%;
	}
}

.newslist {
	.view-header {
		@include grid-row;
		.views-exposed-widget {
			float: none;
		}
	}
	.views-exposed-form .views-exposed-widget,
	.rssfeeds {
		padding: .5em 0 0 0;
	}
	.block-views-exp-news-page {
		@include grid-column(12);
		select {
			width: 100%;
		}
		@media #{$medium-up} {
			@include grid-column(4,$offset:0);
		}
	}
	.rssfeeds {
		@include grid-column(12);
		margin-bottom: 2rem;
		label {
			font-weight: bold;
			line-height: 1.5;
		}
		select {
			padding: 3px 0.5rem;
			@media #{$medium-up} {
				height: 25px;
			}
		}
		@media #{$medium-up} {
			@include grid-column(4,$offset:4);
			margin-bottom: 0;
		}
	}
	.newsfeeds {
		padding-top: .5rem;
	}
	.view__intro {
		clear: both;
		padding: 1.4rem .5rem;
	}
}