// Remove border on flexslider so it's flush with edges of browser
.flexslider {
    border: 0;
}

// Fix for default slideshow prev next arrows being cut off
.flex-direction-nav a {
    display: block !important;
    height: 50px;
    top: 40%;
}

// Adjust the HEIGHT of the slideshow
.slideshow__image {
    background-size: cover;
    background-position: center center;
    height: 200px;
    @media #{$medium-up} {
        height: 500px; // Adjust for medium (tablet)
    }
    @media #{$large-up} {
        height: 500px; // Adjust for large (desktop)
    }
    // @media #{$xlarge-up} {
    //     height: 400px; // Adjust for xlarge (large screens, TV, 4K)
    // }
}

.slideshow__content {
    // The slideshow__title and slideshow__text are wrapped in this .class
    // The .row class is already applied to contain it to the max viewport width
}

.slideshow__title {
    // Position/style the Homepage slideshow TITLE here
}

.slideshow__text {
    // Position/style the Homepage slideshow CAPTION here
}